@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

/* Nav Bar*/
.navbar {
  padding: 1rem;
}
.navbar-nav li {
  padding-right: 1.5rem;
}
.nav-link {
  font-size: 1.1em !important;
}
.dropdown .dropdown-menu {
  border-top: 1px solid transparent;
  background-color: #f7f7f7;
}

/* Body */
.scrollable{
    overflow-y: auto;
    max-height: 200px;
}

.padding {
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.welcome {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome img {
    width: 5em;
    margin: 0 16px 16px 0;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    margin: 10px 50px 20px;
}

.whatshappening {
    width: 75%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.card {
    margin: auto;
    max-width: 80em;
}

.map-size {
    margin: auto;
    max-width: 75em;
    padding-bottom: 3rem;
}

.info-content {
    max-width: 90%;
    border: 0.15em solid black;
    border-radius: 1em;
    padding: 100px;
    margin: 5em auto;
}

/* Footer */
footer {
    background-color: #f5f5f5;
    padding: 2rem;
    padding-bottom: 4rem;
    text-align: center;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
